<ul>
{{ for item in items: }}
   <li class="item collection-item avatar">
       <a target="_blank" href="{{=URL('voirVisuel',args=[visuel_idx,getdot(item,cle)])}}"><i class="fa fa-id-card-o" aria-hidden="true"></i></a>
       <span class="title">{{ =getdot(item,champs['nom']) }}</span>
         <p>{{ =getdot(item,champs['groupe']) }}</p>
       {{ s = getdot(item,champs[visuel['stat']]) }}
       <div class="secondary-content">{{if stat[1]=='pct':}}{{ ="{0:n}".format(round(s,1)) }} %{{else:}}{{=s}}{{pass}}</div>
    </li>      
       {{ pass }}
    {{if not lastpage:}}<div class="pagination__next"></div>{{pass}}
</ul>
