{{ if tweet: }}
<html>
    <body style="margin:0px">
<div style="width:100%;">
{{ =visuel['data'] }}
</div>
</body>
</html>
{{ else: }}
<html><body>
<h1>Test générateur de visuels</h1>
<h3>{{ if hasard: }}1 député en marche à moins de 20 % (au hasard){{ pass }} </h3>
<div style="width:800px;">
{{ =visuel['data'] }}
</div>
<a href="{{ =URL('download',args=[id]) }}">Télécharger SVG</a>
<a href="{{ =URL('download',args=[id,2048,int(2048*visuel['coef'])]) }}">Télécharger PNG (2048)</a>
<a href="{{ =URL('download',args=[id,1024,int(1024*visuel['coef'])]) }}">Télécharger PNG (1024)</a>
<a href="{{ =URL('tweeter',args=[id,1024,int(1024*visuel['coef'])]) }}" target="_blank">Tweeter</a>
</body>
</html>
{{ pass }}
