{{ extend "base.html" }}
{{ block title }}{{ =' '.join(depute_nom.split(' ')[1:]) }} | Observatoire Insoumis{{ end }}
{{ block style }}
<style>
    high {
        background-color: #82cde2;
        color: white;
    }
    <link href="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/1.0.1/billboard.min.css" rel="stylesheet">
</style>
{{ end }}
{{ block content }}
    <div id="depute-template" class="container">
        <div class="depute-header">
            <div class="depute-photo">
                <img src="http://www2.assemblee-nationale.fr/static/tribun/15/photos/{{ =depute_uid[2:]}}.jpg"/>
            </div>
            <div class="depute-identite">
                <header>
                    <h2><span>{{ ="%s / %s / %se circ" % (depute_region,depute_departement,depute_circo) }}</span></h2>
                    <h1>{{ =depute_nom }}</h1>
                </header>

                <div class="depute-contacts">
                    {{ for contact in depute_contacts: }}{{ if (contact['type']==u'mail'): }}<a class="depute-contact" href="{{ =contact['lien'] }}"><i class="fa fa-envelope"></i></a>
                    {{ elif (contact['type']=='twitter'): }}<a class="depute-contact" href="{{ =contact['lien'] }}"><i class="fa fa-twitter"></i></a>
                    {{ elif (contact['type']=='facebook'): }}<a class="depute-contact" href="{{ =contact['lien'] }}"><i class="fa fa-facebook-square"></i></a>
                    {{ elif (contact['type']=='site'): }}<a class="depute-contact" href="{{ =contact['lien'] }}"><i class="fa fa-globe"></i></a>
                    {{ pass }}
                    {{ pass }}
                </div>

                <div class="depute-groupe {{ =groupe_abrev }}"><i class="fa fa-group"></i> <a href="#">{{ =groupe_libelle }}</a></div>
                <div class="depute-infos"><span>{{ ="%s, %s" % (depute_profession, depute_naissance[0].lower()+depute_naissance[1:]) }}</span></div>
                <div class="depute-infos"><span>Suppléant(e) : {{ =depute_suppleant }}</span></div>
                
                 <div class="depute-infos"><span>Elu(e) avec {{=round(float(100*depute_election['voix'])/depute_election['exprimes'],2)}}% des voix {{ if depute_election['adversaires']: }}face à {{ =' et '.join([a['nom'] for a in depute_election['adversaires'] ]) }}{{else:}} au 1er tour{{pass}}</span></div>                    
                <div class="depute-infos"><span>Elu(e) par {{=round(float(100*depute_election['voix'])/depute_election['inscrits'],2)}}% des inscrits de sa circonscription</span></div>
            </div>
        </div>

        <div class="tab-container">
            <header>
                <input id="tab1" type="radio" name="tabs" value="presentation">
                <label for="tab1"><i class="fa fa-id-card-o"></i><span>Présentation</span></label>

                <input id="tab2" type="radio" name="tabs" value="interventions" checked>
                <label for="tab2"><i class="fa fa-comment-o"></i><span>Interventions</span></label>

                <input id="tab3" type="radio" name="tabs" value="votes">
                <label for="tab3"><i class="fa fa-hand-paper-o"></i><span>Votes</span></label>
            </header>

            <section id="presentation" class="tab-content"> <!-- Présentation -->
                <div class="depute-hemicycle">
                    {{ =svgcirco(depute_circo_id) }}
                    {{ =hemicycle(depute_place,URL(c='depute',f='fiche')) }}
                    <!--<object id="hemicycle" data="{{ =URL('static','images/hemicyclelight.svg') }}" type="image/svg+xml"></object>-->
                </div>
                <div class="depute-fonctions">
                    <h2>Fonctions / Mandats</h2>
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-arrow-circle-o-right"></i> Membre de l'Assemblée {{ if 'depute_actif': }}depuis le {{ =depute_mandat_debut }}{{ else: }}{{ ='du %s au %s' % (depute_mandat_debut,depute_mandat_fin) }}{{ pass }}</li>
                        {{ if depute_bureau: }}<li><i class="fa fa-li fa-arrow-circle-o-right"></i> {{ =depute_bureau }}</li>{{ pass }}
                        {{ for typ,mandats in depute_mandats.iteritems(): }}{{ for m in mandats: }}
                        <li>
                            <i class="fa fa-li fa-arrow-circle-o-right"></i> <a href="{{ =m['lien'] }}">{{ =m['nom'] }}</a> ({{ =m['qualite'] }})
                        </li>
                        {{ pass }}{{ pass }}
                    </ul>
                    {{ if depute_autresmandats: }}
                    <h2>Autres Mandats</h2>
                    <ul class="fa-ul">
                        {{ for am in depute_autresmandats: }}
                        <li>
                            <i class="fa fa-li fa-arrow-circle-o-right"></i> {{ =am }}
                        </li>{{ pass }}
                    </ul>
                    {{ pass }}
                    {{ if depute_collaborateurs: }}
                    <h2>Collaborateurs</h2>
                    <ul class="fa-ul">
                        {{ for co in depute_collaborateurs: }}
                        <li>
                            <i class="fa fa-li fa-arrow-circle-o-right"></i> {{ =co }}
                        </li>{{ pass }}
                    </ul>
                    {{ pass }}
                </div>
                {{ if depute_deputywatch: }}
                <div class="depute-watch">
                    <h2>Deputy Watch</h2>
                    <div class="flex">
                        <img src="{{ =URL('static','assets/deputywatch.png') }}" alt="Deputy Watch">
                        <div>
                            Le site Deputy Watch tente de recenser les antécédents judiciaires de notoriété publique des élus.
                            Nous y avons cherché ce député et il semblerait qu'il y soit listé.<br />
                            <a href="{{ =depute_deputywatch['url'] }}" target="_blank">
                                <i class="fa fa-arrow-circle-o-right"></i> Voir le résultat
                            </a>
                        </div>
                    </div>
                </div>
                {{ pass }}
                {{ if len(depute_hatvp)>0: }}
                <div>
                    <h2>Déclaration à la HATVP</h2>
                    <ul class="fa-ul">
                        {{ for dec in depute_hatvp: }}
                        <li>
                            <a href="{{ =dec['docurl'] }}" target="_blank">
                                <i class="fa fa-li fa-file-text-o"></i>
                                {{ ="%s - %s" % (dec['typedoc'], dec['qualite']) }}
                            </a>
                        </li>
                        {{ pass }}
                    </ul>
                </div>
                {{ pass }}
            </section>

			<section id="interventions" class="tab-content"> <!-- Interventions -->
                <div class="depute-interventions-recap">
                    Nombre d'interventions : <span>{{ =stats['nbitvs'] }}</span>, nombre de mots : <span>{{ =stats['nbmots'] }}</span>
                </div>
                <div class="depute-interventions-cloud">
                    <div>
                        <h2>Ses mots</h2>
                        <div id="sourrounding_div_noms" class="cloud">
                            <canvas id="wordcanvas_noms"></canvas>
                        </div>
                    </div>
                    <div>
                        <h2>Ses verbes</h2>
                        <div id="sourrounding_div_verbes" class="cloud">
                            <canvas id="wordcanvas_verbes"></canvas>
                        </div>
                    </div>
                </div>
                <div id="itvlist">
                    <h2>Ses interventions</h2>
                    <div class="depute-interventions-search">
                        <input class="search" placeholder="Rechercher une intervention">
                        <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <ul id="itv-items" class="fa-ul">

                    </ul>
                </div>
			</section>

			<section id="votes" class="tab-content"> <!-- Votes -->
				<div class="depute-votes-recap">
                    <div class="gauge">
                        <h2>Participation</h2>
                        {{ =svggauge('vote',stats['positions']['exprimes']) }}
                    </div>
                    <div class="gauge">
                        <h2>Contre son groupe</h2>
                        {{ =svggauge('diss',stats['positions']['dissidence']) }}
                    </div>
                    <div class="gauge">
                        <h2>FI-Compatibilité</h2>
                        {{ =svggauge('compfi',stats['compat']['FI']) }}
                    </div>
                    <div class="gauge">
                        <h2>EM-Compatibilité</h2>
                        {{ =svggauge('compem',stats['compat']['REM']) }}
                    </div>
                </div>
                <div class="depute-votes-calendar">
                    <h2>Calendrier des votes</h2>
                    <div id="calendar"></div>
                </div>
                 <!--<div class="depute-votes-calendar">
                    <h2>Présences aux votes</h2>
                    <div id="presenceChart"></div>
                </div>-->

                <div class="depute-votes-list">
                    <h2>Ses votes</h2>
                    <div class="depute-votes-search">
                        <input class="search" placeholder="Rechercher un vote">
                        <button type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <ul id="vote-items">

                    </ul>
                </div>
            </section>
        </div>
    </div>
{{ end }}
{{ block script }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ =URL('static','js/wordcloud2.js') }}"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/billboard.js/1.0.1/billboard.min.js"></script>
  <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
  <script src="{{=URL('static','js/depute.js')}}"></script>
  <script>
      
      
    // Interventions
    var itv_IS = setInfiniteScroll(id='itv-items',path='{{=URL("depute","ajax_itvs")}}',args={depute_uid:"{{=depute_uid}}"},append='.itv-item');
    
    function searchitv() {
        itv_IS.element.innerHTML = '';
         itv_IS.destroy();
         search = $('.depute-interventions-search input.search').val();
         itv_IS = setInfiniteScroll(id='itv-items',path='{{=URL("depute","ajax_itvs")}}',args={depute_uid:"{{=depute_uid}}",search:search},append='.itv-item', emptyMsg='<li>Aucune intervention n\'a été trouvée pour cette recherche.</li>');
        itv_IS.on('append', function(response) {
            if (itv_IS.element.childElementCount === 0) {
                itv_IS.element.innerHTML = '<li>Aucune intervention n\'a été trouvée pour cette recherche.</li>';
            }
        });
    }
      
    $('.depute-interventions-search button').click(function() {
        searchitv();
    });
    
    $('.depute-interventions-search').keypress(function(e) {
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
        e.preventDefault();
        searchitv();
    }
    });

    // Votes
    var vote_IS = setInfiniteScroll(id='vote-items',path='{{=URL("depute","ajax_votes")}}',args={depute_uid:"{{=depute_uid}}"},append='.vote-item');
    
    function searchvote() {
        vote_IS.element.innerHTML = '';
         vote_IS.destroy();
         search = $('.depute-votes-search input.search').val();
         vote_IS = setInfiniteScroll(id='vote-items',path='{{=URL("depute","ajax_votes")}}',args={depute_uid:"{{=depute_uid}}",search:search},append='.vote-item');
        vote_IS.on('append', function(response) {
            if (vote_IS.element.childElementCount === 0) {
                vote_IS.element.innerHTML = '<li>Aucun vote n\'a été trouvé pour cette recherche.</li>';
            }
        });
    }
    
    $('.depute-votes-search button').click(function() {
        searchvote();
    });
      
    $('.depute-votes-search').keypress(function(e) {
    if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {
        e.preventDefault();
        searchvote();
    }
    });
     
    // Init Calendrier
    {{ import json }}
    var csv = JSON.parse('{{ =XML(json.dumps(dates)) }}');
    // test areachart
   



    // Init Nuages
    {{ import json }}
    var wordlist = {};
    {{ if depute_nuages: }}
    {{ for lex in depute_nuages.keys(): }}
       wordlist['{{=lex}}'] = JSON.parse('{{ =XML(json.dumps(depute_nuages[lex])) }}');
    {{ pass }}
    {{ pass }}

    //var svg = document.getElementById('hemicycle');
    $(document).ready(function() {
        
        var visible = $('.tab-container input:checked').val();
        $('#' + visible).addClass('visible');

        $('.tab-container header input[name=tabs]').change(function(e) {
            $('.tab-content').removeClass('visible');
            $('#' + e.target.value).addClass('visible');
        });
        
        /* position hemicycle */
        
        //svg.addEventListener('load', function () {
        //  initHemicycle("{{ =depute_place }}");
        //});
        function addGraphPresences() {
            var chart = bb.generate({
              "data": {
                "x":"x",
                "columns": [
                    JSON.parse('{{ =XML(json.dumps(["x"]+[w['week'] for w in weeks])) }}'),
                    JSON.parse('{{ =XML(json.dumps(["data"]+[w['pct'] for w in weeks])) }}')
                ],
                "types": {
                  "data": "area"
                },
              },
             "area": {
               "zerobased": true,

             },

              "bar": {
                  "width": {
                      "ratio": 0.9,
                  },
                  "zerobased": true,
              },
              "axis": {
                "y": {
                    "label":"%",
                    "max": 100,
                     "min": 0,
                    "padding": {"top": 10, "bottom":0},
                },
                "x": {
                  "label": "Semaine",
                  "type": "category",
                  "tick": {
                    "culling": 14,
                    "rotate": 90,
                    "multiline": false
                  },
                  "height": 100
                }
              },
             "legend": {
                "show": false
              },
              "bindto": "#presenceChart"
            });
        }
      //addGraphPresences()
      genCalendar();
        drawNuages();  

        var resizeDebounce;
        $(window).resize(function() {
            clearTimeout(resizeDebounce);
            resizeDebounce = setTimeout(function() {
                window.requestAnimationFrame(function() {
                    drawNuages();
                    $('#calendar svg').remove();
                    genCalendar();
                });
            }, 100);
        });
    });
</script>
{{ end }}
