{{ extend "base.html" }}
{{ block content }}
    <div id="depute-template" class="container">
        <div class="depute-header">
            <div class="depute-photo">
                <img src="http://www2.assemblee-nationale.fr/static/tribun/15/photos/{{ =depute_uid[2:]}}.jpg"/>
            </div>
            <div class="depute-identite">
                <header>
                    <h2><span>{{ ="%s / %s / %se circ" % (depute_region,depute_departement,depute_circo) }}</span></h2>
                    <h1>{{ =depute_nom }}</h1>
                </header>

                <div class="depute-contacts">
                    {{ for contact in depute_contacts: }}{{ if (contact['type']==u'mail'): }}<a class="depute-contact" href="mailto:{{ =contact['lien'] }}"><i class="fa fa-envelope-o"></i></a>
                    {{ elif (contact['type']=='twitter'): }}<a class="depute-contact" href="https://twitter.com/{{ =contact['lien'][2:] }}"><i class="fa fa-twitter"></i></a>
                    {{ elif (contact['type']=='facebook'): }}<a class="depute-contact" href="https://fr-fr.facebook.com/{{ =contact['lien'] }}"><i class="fa fa-facebook-square"></i></a>
                    {{ elif (contact['type']=='site'): }}<a class="depute-contact" href="http://{{ =contact['lien'] }}"><i class="fa fa-globe"></i></a>
                    {{ pass }}
                    {{ pass }}
                </div>

                <div class="depute-groupe {{ =groupe_abrev }}"><i class="fa fa-group"></i> <a href="{{ =URL('groupe','index',args=[groupe_abrev]) }}">{{ =groupe_libelle }}</a></div>
                <div class="depute-infos"><span>{{ ="%s, %s" % (depute_profession, depute_naissance) }}</span></div>
                <div class="depute-infos"><span>Participation : {{ ="%s/%s" % (stats['ranks']['exprimes'] or '-', 577) }}</span><br /><span>Dissidence : {{ ="%s/%s" % (stats['ranks']['dissidence'] or '-', 577) }}</span></div>
                <div class="depute-infos"><span>Suppléant : {{ =depute_suppleant }}</span></div>
            </div>
        </div>

        <div class="tab-container">
            <header>
                <input id="tab1" type="radio" name="tabs" value="presentation">
                <label for="tab1"><i class="fa fa-id-card-o"></i><span>Présentation</span></label>

                <input id="tab2" type="radio" name="tabs" value="interventions">
                <label for="tab2"><i class="fa fa-comment-o"></i><span>Interventions</span></label>

                <input id="tab3" type="radio" name="tabs" value="votes" checked>
                <label for="tab3"><i class="fa fa-hand-paper-o"></i><span>Votes</span></label>
            </header>

            <section id="presentation" class="tab-content"> <!-- Présentation -->
                <div class="depute-hemicycle">
                    <object id="hemicycle" data="{{ =URL('static','images/hemicyclelight.svg') }}" type="image/svg+xml"></object>
                    {{ =svgcirco(depute_circo_id) }}
                </div>
                <div class="depute-fonctions">
                    <h2>Fonctions / Mandats</h2>
                    <ul class="fa-ul">
                        <li><i class="fa fa-li fa-arrow-circle-o-right"></i> Membre de l'Assemblée {{ if 'depute_actif': }}depuis le {{ =depute_mandat_debut }}{{ else: }}{{ ='du %s au %s' % (depute_mandat_debut,depute_mandat_fin) }}{{ pass }}</li>
                        {{ if depute_bureau: }}<li><i class="fa fa-li fa-arrow-circle-o-right"></i> {{ =depute_bureau }}</li>{{ pass }}
                        {{ for typ,mandats in depute_mandats.iteritems(): }}{{ for m in mandats: }}
                        <li>
                            <i class="fa fa-li fa-arrow-circle-o-right"></i> <a href="{{ =m['lien'] }}">{{ =m['nom'] }}</a> ({{ =m['qualite'] }})
                        </li>
                        {{ pass }}{{ pass }}
                    </ul>
                    {{ if depute_autresmandats: }}
                    <h2>Autres Mandats</h2>
                    <ul class="fa-ul">
                        {{ for am in depute_autresmandats: }}
                        <li>
                            <i class="fa fa-li fa-arrow-circle-o-right"></i> {{ =am }}
                        </li>{{ pass }}
                    </ul>
                    {{ pass }}
                    {{ if depute_collaborateurs: }}
                    <h2>Collaborateurs</h2>
                    <ul class="fa-ul">
                        {{ for co in depute_collaborateurs: }}
                        <li>
                            <i class="fa fa-li fa-arrow-circle-o-right"></i> {{ =co }}
                        </li>{{ pass }}
                    </ul>
                    {{ pass }}
                </div>
                {{ if depute_deputywatch: }}
                <div class="depute-watch">
                    <h2>Deputy Watch</h2>
                    <div class="flex">
                        <img src="{{ =URL('static','assets/deputywatch.png') }}" alt="Deputy Watch">
                        <div>
                            Le site Deputy Watch tente de recenser les antécédents judiciaires de notoriété publique des élus.
                            Nous y avons cherché ce député et il semblerait qu'il y soit listé.<br />
                            <a href="{{ =depute_deputywatch['url'] }}" target="_blank">
                                <i class="fa fa-arrow-circle-o-right"></i> Voir le résultat
                            </a>
                        </div>
                    </div>
                </div>
                {{ pass }}
                {{ if len(depute_hatvp)>0: }}
                <div>
                    <h2>Déclaration à la HATVP</h2>
                    <ul class="fa-ul">
                        {{ for dec in depute_hatvp: }}
                        <li>
                            <a href="{{ =dec['docurl'] }}" target="_blank">
                                <i class="fa fa-li fa-file-text-o"></i>
                                {{ ="%s - %s" % (dec['typedoc'], dec['qualite']) }}
                            </a>
                        </li>
                        {{ pass }}
                    </ul>
                </div>
                {{ pass }}
            </section>

			<section id="interventions" class="tab-content"> <!-- Interventions -->
                <div class="depute-interventions-recap">
                    Nombre d'interventions : <span>{{ =stats['nbitvs'] }}</span>, nombre de mots : <span>{{ =stats['nbmots'] }}</span>
                </div>
                <div class="depute-interventions-cloud">
                    <div>
                        <h2>Ses mots</h2>
                        <div id="sourrounding_div_noms" class="cloud">
                            <canvas id="wordcanvas_noms"></canvas>
                        </div>
                    </div>
                    <div>
                        <h2>Ses verbes</h2>
                        <div id="sourrounding_div_verbes" class="cloud">
                            <canvas id="wordcanvas_verbes"></canvas>
                        </div>
                    </div>
                </div>
                <div id="itvlist">
                    <h2>Ses interventions</h2>
                    <div class="depute-interventions-search">
                        <label for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
                        <input class="search" placeholder="Rechercher une intervention">
                    </div>
                    <ul class="fa-ul">
                        {{ for iv in itvs: }}
                        <li>
                            <i class="fa fa-list fa-comment"></i>
                            <a href="{{ =iv['itv_url']}}" target="_blank">
                                <h3>{{ =' / '.join(iv['itv_ctx']) }}</h3>
                            </a>
                            <blockquote>{{ =XML(iv['itv_contenu']) }}</blockquote>
                        </li>{{ pass }}
                    </ul>
                </div>
			</section>

			<section id="votes" class="tab-content"> <!-- Votes -->
				<div class="depute-votes-recap">
                    <div class="gauge">
                        <h2>Participation</h2>
                        {{ =svggauge('vote',stats['positions']['exprimes']) }}
                    </div>
                    <div class="gauge">
                        <h2>Contre son groupe</h2>
                        {{ =svggauge('diss',stats['positions']['dissidence']) }}
                    </div>
                    <div class="gauge">
                        <h2>FI-Compatibilité</h2>
                        {{ =svggauge('compfi',stats['compat']['FI']) }}
                    </div>
                    <div class="gauge">
                        <h2>EM-Compatibilité</h2>
                        {{ =svggauge('compem',stats['compat']['REM']) }}
                    </div>
                </div>
                <div class="depute-votes-calendar">
                    <h2>Calendrier des votes</h2>
                    <div id="calendar"></div>
                </div>

                <div class="depute-votes-list">
                    <h2>Ses votes</h2>
                    <div class="depute-votes-search">
                        <label for="search"><i class="fa fa-search" aria-hidden="true"></i></label>
                        <input class="search" placeholder="Rechercher un vote">
                    </div>
                    <ul>
                        {{ genres = {'loi':'e','motion':'e'} }}
                        {{ icons = {'pour':'fa-thumbs-up','contre':'fa-thumbs-down','abstention':'fa-microphone-slash','absent':'fa-question'} }}
                        {{ icons_s = {'amendement':'fa-pencil-square','loi':'fa-book','article':'fa-file','motion':'fa-undo','declaration':'fa-microphone','autre':''} }}
                        {{ for v in votes: }}
                        <li>
                            <div class="ico {{ =v['vote_position']}}">
                                <i class="fa {{ =icons_s[v['scrutin_typedetail']] }}"></i>
                            </div>
                            <div>
                                <header>
                                    <div>
                                        <h3><span>{{ =v['scrutin_dossierLibelle'] }} - {{ =v['scrutin_typedetail'][0].upper()+v['scrutin_typedetail'][1:] }}{{ if v['scrutin_groupe']: }} proposé{{ =genres.get(v['scrutin_typedetail'],'')}} par le groupe {{ =v['scrutin_groupe'] }}{{ pass }}</span></h3>
                                        <a href="{{ =URL('scrutin','index',args=[v['scrutin_id']])}}">Scrutin n°{{ ="%d du %s (%s)" % (v['scrutin_num'],v['scrutin_date'],v['scrutin_sort']) }}</a>
                                    </div>
                                    <div class="vote {{ =v['vote_position'] }}"><i class="fa {{ =icons[v['vote_position']] }}"></i> {{ =v['vote_position'][0].upper()+v['vote_position'][1:] }}</div>
                                </header>
                                <p><i class="fa fa-arrow-circle-o-right"></i> {{ =v['scrutin_desc'] }}</p>
                            </div>
                        </li>
                        {{ pass }}
                      
                    </ul>
                </div>
            </section>
        </div>
    </div>
{{ end }}
{{ block script }}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="{{ =URL('static','js/wordcloud2.js') }}"></script>
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script>
    $(document).ready(function() {
        var visible = $('.tab-container input:checked').val();
        $('#' + visible).addClass('visible');

        $('.tab-container input').change(function(e) {
            $('.tab-content').removeClass('visible');
            $('#' + e.target.value).addClass('visible');
        });
        /* position hemicycle */
        var svg = document.getElementById('hemicycle');
        svg.addEventListener('load', function () {
          //var svg = document.getElementById('hemicycle');
          var svgDoc = svg.contentDocument;
          $.each(svgDoc.getElementsByTagName('a'), function() {
              $(this).attr('href',"depute/index/"+$(this).attr('href'));
          });
          var styleElement = svgDoc.createElementNS("http://www.w3.org/2000/svg", "style");
          styleElement.textContent = "#p{{ =depute_place }} { fill:  black; stroke-width:5px; stroke: black;}"; // add whatever you need here
          svgDoc.getElementById('defs').appendChild(styleElement);

        });
        // Nuages
        {{ import json }}
        var wordlist = {};
        {{ if depute_nuages: }}
        {{ for lex in depute_nuages.keys(): }}
           wordlist['{{=lex}}'] = JSON.parse('{{ =XML(json.dumps(depute_nuages[lex])) }}');
        {{ pass }}
        {{ pass }}
        

        function showNuage(lex) {
            if (lex=='verbatim') {
                return
            }
            var div = document.getElementById("sourrounding_div_"+lex);
            var canvas = document.getElementById("wordcanvas_"+lex);

            canvas.height = div.offsetHeight;
            canvas.width  = div.offsetWidth;

            WordCloud(document.getElementById('wordcanvas_'+lex), {
                gridSize: Math.round(16 * document.getElementById('wordcanvas_'+lex).offsetWidth / 1024),
                weightFactor: function (size) {
                    return 0.3*size;
                },
                list: wordlist[lex],
                color: function(word, weight) {
                    if (weight < 50) {
                        return '#82cde2';
                    } else if (weight < 130) {
                        return '#213558';
                    }
                    return '#ff0052';
                },
                backgroundColor: 'transparent'
            });
        }

        function drawNuages() {
            showNuage('noms');
            showNuage('verbes');
        }

        // Calendrier
        function genCalendar() {
            var width = document.getElementById('calendar').offsetWidth+20,
                yearHeight = width / 7,
                height = yearHeight,
                cellSize = yearHeight / 8;

            var percent = d3.format(".1%"),
                format = d3.timeFormat("%Y-%m-%d");

            var color = d3.scaleQuantize()
                .domain([.0, 1.0])
                .range(d3.range(5).map(function(d) { return "q" + d + "-5"; }));

            var svgcal = d3.select("#calendar").selectAll("svg")
                .data(d3.range(2017, 2018))
              .enter().append("svg")
                .attr("width", width)
                .attr("height", height+20)
                .attr("class", "RdYlGn")
              .append("g")
                .attr("transform", "translate(" + ((width - cellSize * 53) / 2) + "," + (20+height - cellSize * 7 - 1) + ")");

            svgcal.append("text")
                .attr("transform", "translate(-6," + cellSize * 3.5 + ")rotate(-90)")
                .style("text-anchor", "middle")
                .text(function(d) { return d; });

            var rect = svgcal.selectAll(".day")
                .data(function(d) { return d3.timeDays(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
              .enter().append("rect")
                .attr("class", "day")
                .attr("width", cellSize)
                .attr("height", cellSize)
                .attr("x", function(d) { return d3.timeMonday.count(d3.timeYear(d), d) * cellSize; })
                .attr("y", function(d) { return ((d.getDay()+6)%7) * cellSize; })
                .datum(format);

            rect.append("title")
                .text(function(d) { return d; });

            svgcal.selectAll(".month")
                .data(function(d) { return d3.timeMonths(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
              .enter().append("text").text(monthLabel).style("font-size:10px;", "middle").attr("transform",monthLabelTransform);
            function monthLabel(t0) {
                return Array('JAN','FEV','MAR','AVR','MAI','JUN','JUI','AOU','SEP','OCT','NOV','DEC')[t0.getMonth()];
            }
            function monthLabelTransform(t0) {
              var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
                  d0 = ((t0.getDay()+6)%7), w0 = d3.timeMonday.count(d3.timeYear(t0), t0)
                  d1 = ((t1.getDay()+6)%7), w1 = d3.timeMonday.count(d3.timeYear(t1), t1);
              return "translate("+(2+w0)*cellSize+",-5)";
            }

            svgcal.selectAll(".month")
                .data(function(d) { return d3.timeMonths(new Date(d, 0, 1), new Date(d + 1, 0, 1)); })
              .enter().append("path")
                .attr("class", "month")
                .attr("d", monthPath);


            var csv = JSON.parse('[{"date": "2017-07-04", "pct": 1.0}, {"date": "2017-07-06", "pct": 0.0}, {"date": "2017-07-10", "pct": 1.0}, {"date": "2017-07-11", "pct": 0.9411764705882353}, {"date": "2017-07-12", "pct": 0.6666666666666666}, {"date": "2017-07-13", "pct": 0.8333333333333334}, {"date": "2017-07-18", "pct": 0.5}, {"date": "2017-07-19", "pct": 0.0}, {"date": "2017-07-24", "pct": 1.0}, {"date": "2017-07-25", "pct": 0.23076923076923078}, {"date": "2017-07-26", "pct": 0.0}, {"date": "2017-07-27", "pct": 0.375}, {"date": "2017-07-28", "pct": 0.6}, {"date": "2017-08-01", "pct": 1.0}, {"date": "2017-08-03", "pct": 0.5454545454545454}, {"date": "2017-08-09", "pct": 1.0}]');
            var data = d3.nest()
                .key(function(d) { return d.date; })
                .rollup(function(d) { return d[0].pct; })
                .map(csv);

              rect.filter(function(d) { return data.has(d); })
                  .attr("class", function(d) { return "day " + color(data.get(d)); })
                .select("title")
                  .text(function(d) { return d + ": " + percent(data.get(d)); });

            function monthPath(t0) {
              var t1 = new Date(t0.getFullYear(), t0.getMonth() + 1, 0),
                  d0 = ((t0.getDay()+6)%7), w0 = d3.timeMonday.count(d3.timeYear(t0), t0)
                  d1 = ((t1.getDay()+6)%7), w1 = d3.timeMonday.count(d3.timeYear(t1), t1);
              return "M" + (w0 + 1) * cellSize + "," + d0 * cellSize
                  + "H" + w0 * cellSize + "V" + 7 * cellSize
                  + "H" + w1 * cellSize + "V" + (d1 + 1) * cellSize
                  + "H" + (w1 + 1) * cellSize + "V" + 0
                  + "H" + (w0 + 1) * cellSize + "Z";
            }
        }

        drawNuages();
        genCalendar();
        var resizeDebounce;
        $(window).resize(function() {
            clearTimeout(resizeDebounce);
            resizeDebounce = setTimeout(function() {
                window.requestAnimationFrame(function() {
                    drawNuages();
                    $('#calendar svg').remove();
                    genCalendar();
                });
            }, 100);
        });
    });
    </script>
{{ end }}
